.u-section-1 {
  background-image: url("images/banner-app-club-penguin_61.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 119px;
}

.u-section-1 .u-text-1 {
  margin: 20px 423px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 323px;
    margin-right: 323px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 213px;
    margin-right: 213px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 123px;
    margin-right: 123px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 23px;
    margin-right: 23px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 294px;
}

.u-section-2 .u-text-1 {
  margin: 21px 0 0;
}

.u-section-2 .u-text-2 {
  width: 680px;
  margin: 21px auto 0;
}

.u-section-2 .u-btn-1 {
  margin: 21px auto 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }
}